<html>
	<head>
		<title><%= title %></title>
		<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	</ink rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.ggogleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div style="text-align: center">
		<nav class ="navbar navbar-inverse">
			<div class="contanier-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><b><font color = 'skyblue'><h1>ONLINE TEST FORUM</h1></font></b></a>
					<ul class="nav navbar-nav navbar-right">
						<div style="text-align:right">
						<a href="#"><span class ="glyphicon glyphicon-user"></span><b> Sign Up </b></a> |
						<a href="#"><span class ="glyphicon glyphicon-user"></span><b> Log In </b></a>
						</div>	
					</ul>
				</div>
			</div>
		</nav>

		<div>
			<h3>
			<a href="/home/home1">Home</a> |
			<a href="https://en.wikipedia.org/wiki/Online_employment_screening_tests">Online Test</a> | 
			<a href="/company/add">Add New Company</a> | 
			<a href="/company">All Company List</a> |
			<a href="/tests/add">Add New Tests</a> |
			<a href="/tests">Tests Created List</a>
			<a href="/questype/questype">Question Type</a>
			</h3>
		</div>

		<h1><%= title %></h1>

			</div>
		</div>

